<div flex="100" layout>
    <md-button class="md-icon-button" aria-label="change state" ng-click="show = !show">
        <md-icon md-svg-icon="../img/icons/arrow_left.svg"></md-icon>
    </md-button>
    <div flex="10" md-theme="light-blue" ng-hide="!show" id="workflow_list">
        <md-list>
            <md-list-item ng-repeat="workflow in networks" ng-click="selectWorkflow(workflow.id)">
                <h5>{{workflow.name}}</h5>
            </md-list-item>
        </md-list>
    </div>
	<kanban-tracks flex></kanban-tracks>
</div>