<div layout="row" layout-fill flex="100">
	<md-button class="md-icon-button" aria-label="change state" ng-click="show = !show">
	    <md-icon md-svg-icon="../img/icons/arrow_left.svg"></md-icon>
	</md-button>
	<div flex="10" md-theme="light-blue" ng-hide="!show" id="workflow_list">
		<md-list class="workflow-list">
			<md-list-item ng-repeat="workflow in networks" ng-click="selectWorkflow(workflow.id)">
			    <h5>{{workflow.name}}</h5>
			</md-list-item>
		</md-list>
	</div>

	<div flex layout="column" layout-fill>
		<h2 flex="5">{{workflowData.name}}</h2>

		<div id="workflow_definition" class="animate_expand" flex layout="row" layout-margin>
			<div flex="15" id="element-selector">
				<md-radio-group ng-model="element_type" class="md-primary" ng-hide="workflowState">
				    <md-radio-button ng-value="key.value" ng-repeat="key in node_types">{{key.name}}</md-radio-button>
				</md-radio-group>
				<md-button class="md-raised md-primary" ng-click="startWorkflow()" ng-hide="workflowState">Start Workflow</md-button>
				<md-button class="md-raised md-primary" ng-click="saveWorkflow()" ng-hide="workflowState">Save Workflow</md-button>
				<md-button class="md-raised md-primary" ng-click="deleteWorkflow()" ng-hide="workflowState">Delete Workflow</md-button>
				<h4 ng-hide="!workflowState">Running</h4>
				<md-button class="md-raised md-primary" ng-click="interruptWorkflow()" ng-hide="!workflowState">Interrupt Workflow</md-button>
			</div>

			<vis-network id="network" flex="65" data="workflowData" options="workflow_options" events="events"></vis-network>			

			<node-details></node-details>
		</div>

	</div>
	<md-button class="md-fab md-fab-bottom-right" aria-label="new workflow" ng-click="createNewNetwork()">
	    <md-icon md-svg-src="../img/icons/add_white.svg"></md-icon>
	</md-button>
</div>