#network {
	border: 5px solid blue;
	/*height: 800px;*/
	/*width: 800px*/
}

#workflow_list.ng-hide-add {
	animation: 0.5s slideLeft ease;
}

#workflow_list.ng-hide-remove {
	animation: 0.5s slideRight ease;
}

/*#workflow_list.ng-hide {
	width: 100px;
}

#workflow_list {
	transition: all ease 0.5s;
}*/

@keyframes slideLeft {
	100% {
		transform: translateX(-100%);
	}
}

@keyframes slideRight {
	0% {
		transform: translateX(-100%);
	}
	100% {
		transform: translateX(0%);
	}	
}

.animate_expand {
	transition: all ease 0.5s;
}

.scrool {
	/*height: 100%;*/
	overflow-y: auto;
}

.invisible {
	display: none;
}

.workflow-list {
	background-color: #E0E0E0;
}