<md-input-container>
    <label>Node Name</label>
    <input ng-model="selectedNode.label">
</md-input-container>
<br>
<md-input-container>
    <md-select ng_model="selectedNode.user_type" placeholder="Employee type">
        <md-option ng-repeat="type in job_types" ng-value="type">{{ type }}</md-option>
    </md-select>
</md-input-container>
<br>
<md-input-container>
    <input type="number" ng-model="selectedNode.user_number" required placeholder="Number of employees">
</md-input-container>
<br>
<md-chips ng-model="selectedNode.employees" name="emploeesToWork" placeholder="Prefered employees">
</md-chips>
<br>
<md-chips ng-model="selectedNode.inResources" name="taskResources" placeholder="Input resources">
</md-chips>
<br>
<md-chips ng-model="selectedNode.outResources" name="taskResources" placeholder="Output resources">
</md-chips>
<br>
<md-input-container>
    <label>Task description</label>
    <textarea ng-model="selectedNode.description"></textarea>
</md-input-container>
<br>
<md-input-container>
    <label>Done question</label>
    <textarea ng-model="selectedNode.response"></textarea>
</md-input-container>
<br>
<md-button class="md-raised md-primary" ng-click="updateNode()">Update Node</md-button>