<div flex="100" layout="row" layout-margin>
	<md-card flex="33">
	  	<md-card-header>
	  		<md-card-header-text>
	  		    <span class="md-title">To Do</span>
	  		</md-card-header-text>
	  	</md-card-header>
	  	<md-card-content class="scrool">
	    	<track-item ng-repeat="task in tasks.to_do"></track-item>
	  	</md-card-content>
	</md-card>

	<md-card flex="33">
	  	<md-card-header>
	  		<md-card-header-text>
	  		    <span class="md-title">Doing</span>
	  		</md-card-header-text>
	  	</md-card-header>
	  	<md-card-content class="scrool">
	    	<track-item ng-repeat="task in tasks.doing"></track-item>
	  	</md-card-content>
	</md-card>

	<md-card flex="33">
	  	<md-card-header>
	  		<md-card-header-text>
	  		    <span class="md-title">Done</span>
	  		</md-card-header-text>
	  	</md-card-header>
	  	<md-card-content class="scrool">
	    	<track-item ng-repeat="task in tasks.done"></track-item>
	  	</md-card-content>
	</md-card>
</div>
