<md-list>
    <md-list-item ng-repeat="emp in selectedNode.userState">
        <h5>{{emp.username}}: {{emp.state}}</h5>
    </md-list-item>
</md-list>
<md-button class="md-raised md-primary" ng-click="runNode()" ng-show="selectedNode.color=='#FFF59D'">Start Action</md-button>