<md-card md-theme="light-blue" md-theme-watch="">
      <md-card-title>
            <md-card-title-text>
                <span class="md-headline">{{task.title}}</span>
            </md-card-title-text>
      </md-card-title>
      <md-card-content>
            <p>
                {{task.description}}
            </p>
            <md-radio-group ng-model="task.response" ng-show="task.state ==='doing'">
                <md-radio-button ng-value="val.case" ng-repeat="val in task.responseValues">{{val.case}}</md-radio-button>
            </md-radio-group>
            <md-button class="md-raised md-primary" ng-click="" ng-repeat="resource in task.outResources" ng-show="task.state ==='doing'">Add {{resource}}</md-button>
            <md-button class="md-raised md-primary" ng-click="" ng-repeat="resource in task.inResources" ng-show="task.state ==='doing'">Download {{resource}}</md-button>
      </md-card-content>
      <md-card-actions layout="row" layout-align="end center" ng-hide="task.state === 'done'">
            <md-button class="md-icon-button" aria-label="forward" ng-click="progress()" ng-if="task.type!='done'">
                <md-icon md-svg-icon="../img/icons/forward.svg"></md-icon>
            </md-button>
      </md-card-actions>
</md-card>